
body {
    background-color: #212121 !important;
}

.container {
    min-height: 100vh;
    background-color: #212121 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-card {
    width: 30rem;
}

.text-center {
    font-size: 40px;
}

.question-footer {
    border-top: 1px solid rgba(0,0,0,0.4);
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.1);
}

.button-row {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.bg-success, .bg-danger {
    color: white !important;
}

.width-100 {
    width: 100%;
}

.trophy-img {
    height: 450px;
}

.text-center {
    text-align: center;
}